.container {
    align-items: center;
    border-top: 1px solid var(--line-color);
    display: flex;
    padding-top: 13px;
}

.avatar {
    border: 1px solid var(--border-avatar-color);
    border-radius: 50%;
    width: 30px;
}

.user {
    color: var(--text-color);
    font-size: 13px;
    font-weight: 300;
    margin-left: 15px;
}

.name {
    color: var(--name-color);
    cursor: pointer;
}

.name:hover {
    color: var(--name-hover-color);
}