@charset "uft-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-card-color: #14253d;
    --bg-img-color: #00fff786;
    --bg-main-color: #0d192b;
    --border-avatar-color: #fff;
    --image-hover-color: #00fff7;
    --line-color: #2f415b;
    --name-color: #fff;
    --name-hover-color: #00fff7;
    --price-color: #00fff7;
    --text-color: #8bacda;
    --title-color: #fff;
    --title-hover-color: #00fff7;

    --font: 'Outfit', sans-serif;
}

html {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

body {
    background-color: var(--bg-main-color);
    font-family: var(--font);
}