@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@import "./styles/animations/animations.css";

* {
  border: 0;
  box-sizing: border-box;
  font-family: var(--primary), var(--secondary);
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --background: #0d192b;
  --bg-view: #00fff786;
  --card-shadow: #00000080;
  --card: #14253d;
  --cyan: #00fff7;
  --line: #2f415b;
  --text: #8bacda;
  --white: #fff;

  --primary: "Outfit";
  --secondary: sans-serif;
}

html {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

body {
  background-color: var(--background);
}
