.container {
    border-radius: 10px;
    cursor: pointer;
    height: 252px;
    width: 252px;
}

.container:hover .background {
    display: flex;
}

.image {
    border-radius: inherit;
    position: absolute;
    width: inherit;
}

.background {
    align-items: center;
    background-color: var(--bg-img-color);
    border-radius: inherit;
    display: none;
    height: inherit;
    justify-content: center;
    position: absolute;
    width: inherit;
}

.view_icon {
    height: 40px;
    width: 40px;
}